<nav class="navbar">

  <!-- <a routerLink="#" class="dropdown">
    Frutas
    <div class="dd_holder">
      <a routerLink="#"> Verdes </a>
      <a routerLink="#"> Grandes </a>
      <a routerLink="#"> Pequenas </a>
    </div>
  </a>
  
  <a routerLink="#" class="dropdown">
    Vegetais
    <div class="dd_holder">
      <a routerLink="#"> Verdinhos </a>
    </div>
  </a>

  <a routerLink="#" class="dropdown">
    Couves
    <div class="dd_holder">
      <a routerLink="#"> Fresca </a>
      <a routerLink="#"> Industrializada </a>
    </div>
  </a>

  <a routerLink="#" class="dropdown">
    Natural
    <div class="dd_holder">
      <a routerLink="#"> Pipes </a>
    </div>
  </a> -->

  <a routerLink="/" class="dropdown">
    Catálogo
  </a>
  <a routerLink="/" class="dropdown">
    Carrinho
  </a>
  <a routerLink="/" class="dropdown">
    Conta
  </a>


</nav>